<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediwon">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.bottom_navigation.bookmark.IngredientBookmarkActivity"></activity>
        <activity android:name=".ui.bottom_navigation.bookmark.MedicineBookmarkActivity" />
        <activity android:name=".ui.bottom_navigation.search_medicine.MedicineDetailPageActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"> <!-- 키보드 입력 시 Bottom Navigation이 따라 올라오는 것 방지 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.bottom_navigation.search_ingredients.IngredientDetailPageActivity" />
    </application>

</manifest>